/* CSS for Home component */
#header {
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    font-size: xx-large;
    background: gray;
    align-items: center;
}
#amountContainer {
    display: grid;
    min-width: 10rem;
}

#algorithmSelector {
    color: white;
    background: black;
    border: 2px solid green;
    border-radius: 1rem;
    outline: white;
}
@media screen and (max-width:600px){
    #header{
        gap:.5rem;
        font-size:large;
    }
    #amountContainer{
        min-width:5rem;
    }
    #arrayLength{
        width:5rem;
    }
}